<div th:fragment="general">
   <!-- Global scripts -->
   <script th:src="@{/static/jquery/jquery.min.js}"></script>
   <script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>
   <script th:src="@{/static/datatables/js/jquery.dataTables.min.js}"></script>
   <script th:src="@{/static/datatables/js/dataTables.bootstrap.min.js}"></script>
   <script th:src="@{/static/js/chevron-toggle.js}"></script>
   <script th:src="@{/static/js/smooth-scroll.js}"></script>
   <script th:src="@{/static/js/initialize.js}"></script>
</div>
<div th:fragment="dbx-teamEdit">
   <!-- DBX team edition scripts -->
   <script th:src="@{/static/js/build/dbx/teamEdit.js}"></script>
   <script th:src="@{/static/js/build/dbx/teamEditAjax.js}"></script>
</div>
<div th:fragment="dbx-sponsorEdit">
   <!-- DBX team edition scripts -->
   <script th:src="@{/static/js/build/dbx/sponsorEdit.js}"></script>
</div>
