name: Testing and validation

on: [push, pull_request]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [ 8, 11, 14 ]
        db: [ h2, mysql, postgres ]

    services:
      mysql:
        image: mysql:5.7
        env:
            MYSQL_DATABASE: test_mysql
            MYSQL_ROOT_PASSWORD: root
        ports:
          # Maps port on service container to the host
            - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: pass
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps port on service container to the host
          - 5432:5432
    steps:
    - name: Check-out
      uses: actions/checkout@v2
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.jdk }}
    - name: Run all tests
      run: mvn clean verify -P${{ matrix.db }},development -Dspring.profiles.active=test,${{ matrix.db }}
