# Usage

The project requires a database and a server. But the included Maven profiles allow running it locally for development.

## Running the project locally

To run the project locally with an H2 in-memory database:

```
mvn spring-boot:run -P h2,development
```

This makes the project be accessible at [http://localhost:8080/](http://localhost:8080/).

## Maven profiles

| Profile  | Database              |
|----------|-----------------------|
| h2       | H2 in-memory database |
| mysql    | MySQL database        |
| postgres | PostgreSQL database   |

| Profile     | Server                   |
|-------------|--------------------------|
| development | Development settings     |
| release     | Release settings         |
