<header th:fragment="menu">
	<nav id="navbar-main"
		class="navbar navbar-expand-md navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" th:href="@{/}" th:text="#{application.title}">Webapp
				title</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbar-main-menu"
				aria-controls="navbar-main" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			</div>
			<div class="collapse navbar-collapse" id="navbar-main-menu">
				<ul class="nav navbar-nav ms-auto">
					<li class="nav-item dropdown"><a href="#"
						class="nav-link dropdown-toggle" id="optionsDropdown"
						data-bs-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"><span th:remove="tag"
							th:text="#{title.data}">Data</span></a> </a>
						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="optionsDropdown">
							<li><a class="dropdown-item" th:href="@{/entity/list}"
								th:text="#{label.list}">List</a></li>
							<li><a class="dropdown-item" th:href="@{/entity/edit}"
								th:text="#{label.add}">Addition</a></li>
							<li><a class="dropdown-item" th:href="@{/entity/pdf}"
								th:text="#{label.pdf}">PDF</a></li>
							<li><a class="dropdown-item" th:href="@{/exception/runtime}"
								th:text="#{label.exception}">Exception</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
</header>