<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: header" />

<body>
   <header class="header" th:include="fragments/menu :: menu" />

   <section id="main-section" class="container-fluid">
      <h1 th:text="#{title.entity.form}">Entity form</h1>
      <p>This view allows adding entities through an HTML form.</p>
      <form action="#" th:action="@{/entity}" th:object="${form}" method="post" role="form" class="form">
         <div class="mb-3">
            <label for="nameInput" class="form-label" th:text="#{label.name}">Email address</label>
            <input type="text" class="form-control" id="nameInput" aria-describedby="name" th:field="*{name}"
               placeholder="Name">
            <div class="invalid-feedback">
               <p th:if="${#fields.hasErrors('name')}" class="label label-danger" th:errors="*{name}">Error</p>
            </div>
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   </section>

   <footer>
      <div th:include="fragments/scripts :: general" />
   </footer>
</body>

</html>